/*Navbar*/
.nav-container{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nav-container .logo{
    width: 1500px;
    height: 100px;
}
.nav-container .logo img{
    width: 100%;
    height: 100%;
}
.nav-container .search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container .search label{
    font-size: small;
}
.nav-container .search input{
    height: 20px;
    border-radius: 10px;
    width: 50%;
}
.nav-container .search button{
    height: 25.2px;
    width: 40px;
    background-color:#fff;
    border-radius: 10px;
}

/*CONTENT*/
.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit,minmax(200px,18%));
    grid-gap:20px;
    justify-content: center;
    padding-bottom: 25px;
}
.load-more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
}
.load-more button{
    width: 20%;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bolder;
}
/*CARD*/
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 1%;
}
.card-header{
    margin: 10px 0;
}
.card-header img{
    width: 200px;
    height: 150px;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-body h3{
    text-align: center;
}
.card-body p{
    text-align: center;
}
.card-body button{
    background-color: #FFEF00;
    font-weight:bolder ;
    cursor: pointer;
    width: 75px;
    height: 25px;
    border-radius: 10px;
}
/*Loader*/
.loader-container{
    display: flex;
    justify-content: center;
}
.loader{
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}